.investigation
    padding: 50px 0 55px
    text-align: center
    &-title
        font-family: 'Roboto Slab', sans-serif
        font-size: 40px
        line-height: 50px
        font-weight: bold
        color: #ffffff
        max-width: 946px
        margin: 0 auto 25px
@media screen and ( max-width: 992px )
    .investigation
        &-title
            font-size: 30px
            max-width: 768px
@media screen and ( max-width: 768px )
    .investigation
        &-title
            max-width: 400px
            font-size: 28px
@media screen and ( max-width: 576px )
    .investigation
        &-title
            max-width: 300px
            font-size: 20px
    