button
    cursor: pointer
.more
    display: inline-block
    color: #ffffff
    padding: 10px 20px
    padding-right: 50px
    background: #4592FF url('../images/arrow.svg') no-repeat center right 20px
    border-radius: 20px
    text-decoration: none
    font-size: 14px
    line-height: 20px
    font-weight: 900
    &:hover, &:focus, &:active, &:visited
        color: #ffffff
.category-link
    &.javascript
        color: #4592FF
    &.css
        color: #3BBDC4
    &.html
        color: #AC8EE3
    &.web-design
        color: #FFA34D
.category-name
    &.news
        color: #4592FF
    &.opinions
        color: #3BBDC4
    &.hotter
        color: #FF4F52
    &.collections
        color: #AC8EE3