.single-post
    .post
        &-header
            padding: 60px 0 72px
            color: #ffffff
            &-nav
                display: flex
                align-items: center
                justify-content: space-between
                .category-link
                    &:not(:first-child)
                        margin-left: 8px
            .home
                &-link
                    text-decoration: none
                    color: #ffffff
                    font-size: 14px
                    line-height: 20px
                    font-weight: 900
                    margin-left: auto
                    margin-right: 30px
                &-icon
                    margin-right: 6px
                    width: 18px
                    height: 17px
            .prev-icon, .next-icon
                width: 15px
                height: 7px
            .prev-icon
                margin-right: 8px
                transform: rotate(-180deg)
            .next-icon
                margin-left: 8px
            .nav-links
                min-width: 160px
                a
                    display: flex
                    align-items: center
                    font-size: 14px
                    line-height: 20px
                    color: #ffffff
                    text-decoration: none
            .navigation
                margin: 0
        &-title
            font-family: 'Roboto Slab', sans-serif
            font-size: 55px
            line-height: 70px
            font-weight: bold
            max-width: 750px
            margin-top: 52px
            margin-bottom: 10px
        .excerpt
            font-size: 18px
            line-height: 30px
            margin-bottom: 43px
            max-width: 630px
            opacity: 0.8
    .header-post
        display: flex
        .bookmark-icon
            margin-left: auto
            margin-top: 70px
            width: 21px
            height: 27px
            fill: rgba(#fff, .4)
            cursor: pointer
    .down-info
        display: flex
        color: rgba(#fff, .85)
        font-size: 12px
        line-height: 15px
        .icon
            fill: rgba(#fff, .4)
            height: 13.5px
            margin-right: 5px
        .time-icon
            width: 13.5px
        .likes-icon
            width: 11.7px
        .comments-icon
            width: 13.5px
        .date, .likes, .comments
            display: flex
            align-items: center
        .likes, .comments
            margin-left: 20px
.post
    &-header
        height: 590px
    &-content
        max-width: 623px
        padding-top: 60px
        p
            font-size: 18px
            line-height: 30px
            color: #4b5157
            margin: 30px 0
        .has-drop-cap
            &:not(:focus)
                &:first-letter
                    color: #4592ff
                    font-weight: 900
        h1, h2, h3, h4, h5, h6
            font-family: 'Roboto Slab', sans-serif
            font-weight: bold
        h1
            font-size: 30px
        h2
            font-size: 25px
            line-height: 30px
        h3
            font-size: 22px
        h4
            font-size: 18px
        h5
            font-size: 16px
        h6
            font-size: 14px
        ul, ol
            padding: 0
            margin-top: 20px
            margin-left: 20px
            margin-bottom: 20px
            font-size: 18px
        blockquote
            font-family: 'Roboto Slab', sans-serif
            font-weight: bold
            font-size: 25px
            line-height: 30px
            margin-left: 0
            margin-top: 80px
            margin-bottom: 45px
            position: relative
            &::before
                position: absolute
                top: -20px
                left: -20px
                content: ''
                background: url(../images/quote.svg) no-repeat center
                width: 70px
                height: 70px
                z-index: -1
            cite
                font-style: normal
    .tags-links
        a
            text-decoration: none
            font-size: 14px
            line-height: 20px
            font-weight: 900
            color: #262d33
            padding: 5px 15px
            border-radius: 5px
            border: 1px solid #d9dadb
            margin-right: 10px
    .wp-block-table
        table
            border-spacing: 0
            border: 2px solid #000
        td
            border: 1px solid #ccc
            padding: 15px
    .wp-block-file
        a:first-child
            text-decoration: none
            color: #4b5157
    .container
        padding: 0 100px