.single-post
    .post
        &-header
            padding: 60px 0 72px
            color: #ffffff
            &-nav
                display: flex
                align-items: center
                justify-content: space-between
                .category-link
                    &:not(:first-child)
                        margin-left: 8px
            .home
                &-link
                    text-decoration: none
                    color: #ffffff
                    font-size: 14px
                    line-height: 20px
                    font-weight: 900
                    margin-left: auto
                    margin-right: 30px
                &-icon
                    margin-right: 6px
                    width: 18px
                    height: 17px
            .prev-icon, .next-icon
                width: 15px
                height: 7px
            .prev-icon
                margin-right: 8px
                transform: rotate(-180deg)
            .next-icon
                margin-left: 8px
            .nav-links
                min-width: 160px
                a
                    display: flex
                    align-items: center
                    font-size: 14px
                    line-height: 20px
                    color: #ffffff
                    text-decoration: none
            .navigation
                margin: 0
        &-title
            font-family: 'Roboto Slab', sans-serif
            font-size: 55px
            line-height: 70px
            font-weight: bold
            max-width: 750px
            margin-top: 52px
            margin-bottom: 10px
        .excerpt
            font-size: 18px
            line-height: 30px
            margin-bottom: 43px
            max-width: 630px
            opacity: 0.8
    .header-post
        display: flex
        .bookmark-icon
            margin-left: auto
            margin-top: 70px
            width: 21px
            height: 27px
            fill: rgba(#fff, .4)
            cursor: pointer
    .down-info
        display: flex
        color: rgba(#fff, .85)
        font-size: 12px
        line-height: 15px
        .icon
            fill: rgba(#fff, .4)
            height: 13.5px
            margin-right: 5px
        .time-icon
            width: 13.5px
        .likes-icon
            width: 11.7px
        .comments-icon
            width: 13.5px
        .date, .likes, .comments
            display: flex
            align-items: center
        .likes, .comments
            margin-left: 20px
.post-header
    height: 590px
    .container
        padding: 0 100px