.search {
  background-color: #EDEFF0; }
  .search-title {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;
    color: #262D33; }
  .search .articles-news {
    margin-bottom: 30px; }
    .search .articles-news .pagination {
      margin-bottom: 115px; }
      .search .articles-news .pagination .nav-links {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 40px;
        background-color: #ffffff;
        -webkit-border-radius: 10px;
        border-radius: 10px; }
        .search .articles-news .pagination .nav-links .page-numbers {
          padding: 17px;
          text-decoration: none;
          font-size: 14px;
          line-height: 20px;
          font-weight: bold;
          color: #262D33;
          text-align: center; }
          .search .articles-news .pagination .nav-links .page-numbers:not(:last-child) {
            border-right: 1px solid #D9DADB; }
        .search .articles-news .pagination .nav-links .current {
          color: #4592FF; }
        .search .articles-news .pagination .nav-links .icon {
          width: 15px;
          height: 7px;
          fill: #BCBFC2; }
      .search .articles-news .pagination .prev {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 17px 70px;
        margin-right: auto;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1; }
        .search .articles-news .pagination .prev .icon {
          margin-right: 8px;
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
      .search .articles-news .pagination .next {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 17px 70px;
        margin-left: auto;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1; }
        .search .articles-news .pagination .next .icon {
          margin-left: 8px; }
