@font-face {
  font-family: 'Lato';
  src: local("Lato-Regular"), local("Lato Regular"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Lato';
  src: local("Lato-Black"), local("Lato Black"), url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 14px; }

.header {
  background-color: #262D33;
  padding-top: 15px;
  padding-bottom: 15px; }
  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center; }

.menu-item a {
  text-decoration: none;
  color: #ffffff;
  margin-left: 15px;
  margin-right: 15px; }

.search-form {
  position: relative;
  width: 270px;
  height: 40px; }
  .search-form input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #656B70;
    border-radius: 10px;
    border: none;
    padding: 10px 25px;
    color: #fff; }
    .search-form input:focus {
      color: #fff; }
    .search-form input::placeholder {
      color: #939699; }
  .search-form button {
    position: absolute;
    top: 0;
    right: 25px;
    width: 25px;
    height: 40px;
    background: url(../images/search.svg) no-repeat center;
    border: none; }

.container {
  max-width: 1140px;
  width: 90%;
  margin: auto; }

button {
  cursor: pointer; }

.home {
  background-color: #E5E5E5; }

.front-page-header {
  padding-top: 30px;
  background-color: #262D33;
  position: relative;
  height: 475px; }

.hero {
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  min-height: 570px;
  background-color: #fff;
  z-index: 1;
  position: relative; }
  .hero-post-categories {
    color: #4592FF;
    font-weight: 900;
    font-size: 12px;
    line-height: 15px; }
  .hero-post-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
    z-index: 1; }
    .hero-post-content a[rel='category tag'] {
      color: #4592FF;
      text-transform: uppercase;
      text-decoration: none; }
  .hero .left {
    flex-basis: 75%;
    position: relative;
    padding: 55px 55px 100px 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .hero .left::after {
      content: '';
      background: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .hero .left .post-thumb {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      object-fit: cover; }
    .hero .left .author {
      display: flex;
      align-items: center;
      text-decoration: none; }
      .hero .left .author-bio {
        margin-left: 10px; }
      .hero .left .author-name {
        display: block;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.85); }
      .hero .left .author-rank {
        color: rgba(255, 255, 255, 0.4); }
    .hero .left .avatar {
      width: 45px;
      height: 45px;
      border-radius: 50%; }
    .hero .left .post-title {
      font-size: 40px;
      line-height: 50px;
      color: #ffffff;
      font-family: 'Roboto Slab', sans-serif;
      margin-top: 20px;
      margin-bottom: 50px;
      max-width: 590px; }
    .hero .left .more {
      display: inline-block;
      color: #ffffff;
      padding: 10px 20px;
      padding-right: 50px;
      background: #4592FF url("../images/arrow.svg") no-repeat center right 20px;
      border-radius: 20px;
      text-decoration: none; }
  .hero .right {
    flex-basis: 25%; }
    .hero .right .recommend {
      margin-left: 25px;
      margin-bottom: 20px;
      margin-top: 20px;
      font-weight: 900;
      line-height: 20px;
      text-transform: uppercase; }
    .hero .right .posts-list {
      padding: 0;
      margin: 0;
      list-style: none; }
    .hero .right .post {
      padding: 17px 25px 19px;
      margin: 0;
      border-top: 1px solid #D9DADB;
      min-height: 100px; }
      .hero .right .post:hover {
        background-color: #f5f5f5; }
      .hero .right .post a[rel='category tag'] {
        font-weight: 900;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: unset;
        text-decoration: none; }
      .hero .right .post-permalink {
        color: #4B5157;
        text-decoration: none; }
      .hero .right .post-title {
        line-height: 20px;
        font-weight: normal;
        margin-bottom: 0;
        margin-top: 8px; }

.article-list {
  margin: 0;
  margin-top: 180px;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  background-color: #30363D;
  border-radius: 10px; }

.article-item {
  position: relative;
  width: 25%;
  display: flex;
  align-items: center;
  padding: 30px 25px 35px; }
  .article-item:not(:last-child)::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    content: '';
    height: 70%;
    width: 1px;
    background-color: #4B5157; }

.article-permalink {
  text-decoration: none;
  color: #ffffff; }

.article-title {
  font-weight: normal;
  margin: 0;
  color: #ffffff;
  width: 150px;
  font-size: 14px;
  line-height: 20px; }

.article-thumb {
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-left: auto; }

.main-grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.article-grid {
  max-width: 850px;
  margin: 30px 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template: minmax(min-content, max-content) repeat(2, 170px)/repeat(3, 1fr);
  grid-gap: 30px; }
  .article-grid-permalink {
    text-decoration: none;
    color: #262D33; }
    .article-grid-permalink:hover {
      color: inherit; }
  .article-grid-item {
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden; }
    .article-grid-item:nth-of-type(1) {
      position: relative;
      grid-column: 1/3;
      padding: 35px 35px 13px; }
      .article-grid-item:nth-of-type(1) .category-name {
        font-weight: 900;
        font-size: 12px;
        line-height: 15px;
        color: #6E99AE;
        text-transform: uppercase; }
      .article-grid-item:nth-of-type(1) .article-grid-title {
        width: 90%;
        margin-top: 20px;
        margin-bottom: 25px;
        font-family: 'Roboto Slab', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 30px;
        color: #262D33; }
      .article-grid-item:nth-of-type(1) .article-grid-excerpt {
        width: 60%;
        font-size: 14px;
        line-height: 20px;
        color: #4B5157;
        margin-bottom: 37px;
        padding-bottom: 50px; }
      .article-grid-item:nth-of-type(1) .article-grid-info {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 12px 35px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #D9DADB;
        background-color: #fff; }
        .article-grid-item:nth-of-type(1) .article-grid-info .author {
          display: flex;
          align-items: center;
          color: #262D33; }
          .article-grid-item:nth-of-type(1) .article-grid-info .author-avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 10px; }
          .article-grid-item:nth-of-type(1) .article-grid-info .author-name {
            width: 390px;
            overflow: hidden;
            white-space: nowrap; }
            .article-grid-item:nth-of-type(1) .article-grid-info .author-name strong {
              font-weight: 900;
              font-size: 14px;
              line-height: 20px; }
        .article-grid-item:nth-of-type(1) .article-grid-info .comments {
          display: flex;
          align-items: center; }
          .article-grid-item:nth-of-type(1) .article-grid-info .comments-counter {
            margin-left: 5px;
            font-size: 12px;
            line-height: 15px;
            color: #939699; }
    .article-grid-item:nth-of-type(2) {
      position: relative;
      background-color: transparent; }
      .article-grid-item:nth-of-type(2)::before {
        position: absolute;
        content: '';
        background: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35));
        width: 100%;
        height: 100%;
        z-index: 0; }
      .article-grid-item:nth-of-type(2) .article-grid-thumbnail {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1; }
      .article-grid-item:nth-of-type(2) .article-grid-permalink {
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 25px; }
      .article-grid-item:nth-of-type(2) .article-grid-title {
        font-family: 'Roboto Slab', sans-serif;
        color: #ffffff;
        font-size: 16px;
        line-height: 25px;
        font-weight: bold;
        margin-top: 23px;
        margin-bottom: 27px; }
      .article-grid-item:nth-of-type(2) .tag {
        padding: 5px 12px;
        background: #3DC47E;
        border-radius: 3px;
        color: #ffffff;
        font-size: 12px;
        line-height: 15px;
        text-transform: capitalize; }
      .article-grid-item:nth-of-type(2) .category-name {
        color: #E7D9FF;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 15px;
        font-weight: 900;
        margin-top: auto; }
      .article-grid-item:nth-of-type(2) .author {
        display: flex;
        align-items: center; }
        .article-grid-item:nth-of-type(2) .author-info {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          margin-left: 10px;
          color: #ffffff; }
        .article-grid-item:nth-of-type(2) .author-avatar {
          width: 45px;
          height: 45px;
          border-radius: 50%; }
        .article-grid-item:nth-of-type(2) .author-name {
          flex-basis: 100%; }
      .article-grid-item:nth-of-type(2) .date, .article-grid-item:nth-of-type(2) .comments, .article-grid-item:nth-of-type(2) .likes {
        opacity: 0.4;
        display: flex;
        align-items: center; }
        .article-grid-item:nth-of-type(2) .date:not(:last-child), .article-grid-item:nth-of-type(2) .comments:not(:last-child), .article-grid-item:nth-of-type(2) .likes:not(:last-child) {
          margin-right: 7px; }
        .article-grid-item:nth-of-type(2) .date-counter, .article-grid-item:nth-of-type(2) .comments-counter, .article-grid-item:nth-of-type(2) .likes-counter {
          margin-left: 5px; }
    .article-grid-item:nth-of-type(3) {
      grid-row: 2/4; }
      .article-grid-item:nth-of-type(3) .article-grid-title {
        padding: 15px 25px 30px;
        margin: 0;
        max-width: 220px; }
      .article-grid-item:nth-of-type(3) .article-grid-thumbnail {
        object-fit: cover;
        height: 275px;
        width: 100%; }
    .article-grid-item:nth-of-type(3), .article-grid-item-default {
      color: #262D33; }
      .article-grid-item:nth-of-type(3) .article-grid-title, .article-grid-item-default .article-grid-title {
        color: #262D33;
        font-family: 'Roboto Slab', sans-serif;
        font-weight: bold;
        font-size: 16px;
        line-height: 25px; }
      .article-grid-item:nth-of-type(3) .article-grid-excerpt, .article-grid-item-default .article-grid-excerpt {
        font-size: 14px;
        line-height: 20px;
        color: #4B5157;
        margin-top: 5px;
        margin-bottom: auto; }
      .article-grid-item:nth-of-type(3) .date, .article-grid-item-default .date {
        color: #262D33;
        font-size: 12px;
        line-height: 15px;
        color: #939699; }
    .article-grid-item-default {
      position: relative; }
      .article-grid-item-default .article-grid-title {
        margin: 0; }
      .article-grid-item-default .article-grid-permalink {
        padding: 25px 25px 30px;
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%; }

.sidebar-front-page {
  margin-top: 30px;
  margin-left: 30px; }

.widget-downloader {
  position: relative;
  background: #3BBDC4 url(../images/file.svg) no-repeat top 24px right 22px;
  border-radius: 10px;
  color: #ffffff;
  padding: 25px 25px 65px;
  list-style: none; }
  .widget-downloader .widget-title {
    margin-top: 0;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px; }
  .widget-downloader .widget-description {
    color: #C1F4F5;
    font-size: 14px;
    line-height: 20px;
    margin: 0; }
  .widget-downloader .widget-link {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 13px;
    border-top: 1px solid #96E2E3;
    color: #fff;
    text-decoration: none;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .widget-downloader .widget-link-icon {
      margin-right: 10px; }
